<div class="reveal settings customSettings tiny" id="customSettings" data-reveal>
    <h4>Custom Ingredient Files</h4>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <i class="fa fa-times" aria-hidden="true"></i>
    </button>
    <div id="customIngredientsFileSection" class="custom-ingredients-file-section"></div>
    <label for="uploadCustomIngredients" class="button secondary last" title="Upload a custom ingredients file">
        <i class="fa fa-leaf" aria-hidden="true"></i>  Upload custom Ingredients
    </label>
    <input type="file" id="uploadCustomIngredients" class="show-for-sr">
</div>