<div class="reveal timetable tiny" id="ingredientModal<%= nodeId %>" data-reveal>
    <h4>Ingredients list</h4>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <i class="fa fa-times" aria-hidden="true"></i>
    </button>
    <% let customIngredientFiles = model.get('customIngredientFiles') %>
    <select id="ingredientChoiceSelect" class="ingredient-select">
        <option value="default">default</option>
        <option value="FoodOn">FoodOn</option>
        <% _.each(customIngredientFiles, function(customIngredientFile) { %>
        <option value="<%= customIngredientFile.filename %>"><%= customIngredientFile.filename %></option>
        <% }); %>
    </select>
    <input id="search-ingredient" class="search-ingredient" placeholder="Search for ingredient..." />
    <div id="ingredientsTree" class="ingredientsTree">
    </div>
</div>